@import "../variables";

.menu, .content {
  height: 100vh;
}

.menu {
  background-color: $bg-color-second;

  mat-list-item {
    cursor: pointer;

    &:hover {
      background-color: $bg-color-first;

      label, mat-icon {
        color: $bg-color-second;
      }
    }
  }

  label {
    width: 100%;
  }

  label, mat-icon {
    color: #ffffff;
  }

  mat-icon {
    width: 25%;
  }

}
